/.idea/shelf/Uncommitted_changes_before_Update_at_1_3_2023_4_38_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_1_3_2023_4_38_PM__Changes_.xml
/.idea/workspace.xml
/.idea/CMPT141_lecture_code.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/.gitignore
!/week_3/ch08_ex1.py

!/week_3/ch08_ex2.py

!/week_3/ch08_ex3.py

!/week_3/ch08_ex4.py

!/week_3/ch08_ex5.py

!/week_3/ch08_ex6.py

!/week_3/ch08_intro.py
